.Contact{
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 950px;
    left: 50px;
}
.Contact form{
    padding-top: 40px;
    width: 75%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 30px;
}
.Contact form h1{
    height: 5px;
    color: rgb(63, 3, 226);
}
.Contact form div{
    display: flex;
    justify-content: space-between;
}
.Contact form input{
    width: 300px;
    height: 35px;
    margin-top: 30px;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
}
.Contact form textarea{
    margin-top: 30px;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid grey;
}
/* --Start Send Button*/
.Contact #submit{
    position: relative;
    bottom: 30px;
    padding: 15px 30px;
    width: 300px;
    margin-left: 150px;
    color: rgb(63, 3, 226);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    margin-top: 50px;
    overflow: hidden;
    background: transparent;
    border: none;
    transition: all ease-in-out 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

/*--Border With Animation*/
.Contact #submit span{
    position: absolute;
}
.Contact #submit span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,#1C2333);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.Contact #submit span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#1C2333);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.Contact #submit span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#1C2333);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.Contact #submit span:nth-child(4){
    left: 0;
    top: -100%;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#1C2333);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        top: 100%;
    }
    50%,100%{
        top: -100%;
    }
}

.Contact #submit:hover{
    color: #ffffff;
    background: #1C2333;
    box-shadow:  0 0 5px #1C2333,0 0 25px #1C2333, 0 0 50px #1C2333, 0 0 200px #1C2333;
}
.Contact #submit:hover span{
    background: linear-gradient(90deg,transparent,#ffffff);
}
/* --End Send Button*/

/*ContactInfo*/
.ContactInfo{
    background-color: rgb(19, 19, 32);
    color: #fff;
    padding: 20px;
    width: 300px;
    height: 400px;
    position: relative;
    top: 40px;
    right: 60px;
}
.ContactInfo h1{
    color: rgb(185, 162, 248);
}
.ContactInfo span{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.ContactInfo span:last-child{
    margin-top: 30px;
}
.ContactInfo span:last-child #icon{
    margin-left: 23px;
}
.ContactInfo span:last-child #icon:hover{
    font-size: 40px;
}
.ContactInfo span #icon{
    font-size: 30px;
}
.ContactInfo span p{
    margin-left: 30px;
    width: 50%;
}