/*------------fonts src-------------*/
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Regular.ttf");
}
:root{
  --backcolor: #e4e4e4;
  --whitecolor: #ffffff;
  --darkGray: #1c2333;
  --grayTextIcons: #949496;
  --backbleu: #0f47c0;
  --blackcolor: #000000;
}
/*----------------------cards-------------------*/

.about-card{
  padding: 40px 80px 80px;
  font-family: Lato;
  
}
#headings{
  font-size: 3rem;
  text-align: center;
  font-family: Lato;
}
#commentHead{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: var(--grayTextIcons);
  text-align: center;
}
.card-container{
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
}
.about-card img{
  width: 50%;
}
.card-content{
  padding: 40px;
}
.card-content h1{
  font-size: 40px;
  letter-spacing: 6px;
}
.card-content span{
  color: var(--grayTextIcons);
  font-size: 20px;
  line-height: 40px;
}
/*----------------------Pricing-------------------*/
.background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
    font-family: Lato;
  }
  
  .background::after {
    content: '';
    background: var(--backbleu);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
@media (min-width: 900px) {
    .background {
      padding: 0 0 25px;
    }
  }
  
  .container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
  }
  
  .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    color: var(--backbleu);
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #e1f1ff;
  }
/*----------------------Map-------------------*/
.map {
  border-radius: 8px;
  width: 950px;
  height: 500px;
  margin: calc(50vh - 190px) auto;
  box-shadow: 0 0 40px -10px black;
  background: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
  max-width: calc(100vw - 60px)
}

#map {
  border-radius: 8px 0px 0px 8px;
  width: 65%;
  height: 100%;
  display: inline-block
}

.map-c {
  float: right;
  width: 35%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box
}

h1 {
  margin: 0;
  font-weight: normal;
  color: rgb(60, 60, 70);
  font-size: 28px
}

p {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 30px
}

.det {
  font-size: 12px;
  margin-bottom: 15px
}

button {
  margin: 15px 4px;
  padding: 13px 9px;
  display: inline-block;
  cursor: pointer;
  background: none;
  color: #546973;
  border: 2px solid #78909C;
  transition: all 0.3s;
  border-radius: 8px;
  outline:0
}

button:hover {
  border-color: rgb(90, 90, 90);
  color: rgb(90, 90, 90)
}

button:after {
  content: 'Directions';
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 11px;
  margin-top: 8px
}

.fa-envelope:after {
  content:'Email';
  margin:8px 13px 0
}

@media only screen and (max-width: 720px) {
  .map {
    height: 450px;
    margin: calc(50vh - 225px) auto;
    overflow: hidden
  }
  #map {
    width: 100%;
    height: 200px;
  }
  .map-c {
    float: right;
    width: 100%;
  }
  button {
    float: right;
    margin-top: -75px
  }
}

@media only screen and (max-width: 460px) {
  p {
    display: none
  }
  h1 {
    margin-bottom:20px
  }
  button {
    float: none;
    margin-top: 10px
  }
  .det {
    margin-bottom: 9px
  }
}


/*----------------------Contact Us-------------------*/
.section {
  font-family: Lato;
  position: relative;
  width: 900px;
  max-width: 80%;
  border: 2px solid var(--backbleu);
  border-top: none;
  text-align: center;
  margin: 60px auto;
}

.section h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
  color: var(--backbleu);
}

.top-border{
  position: absolute;
  height: 2px;
  width: 24%;
  background-color: var(--backbleu);
}

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 685px) {
.top-border {	
  width: 18%;
	}
}

.section p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 30px;
}

.section a {
  outline: 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  width: 440px;
  max-width: 80%;
  background-color: var(--darkGray);
  color: #fff;
  font-size: 22px;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
}

.section a:hover {
  background-color: #1D222D;
}

.section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 500px) {
  .top-border {	
    display: none;
  }
  .section {
  border-top: 2px solid #333;
  }
  .section h1 {
    margin: 20px 6px;
  }
}